@font-face {
    font-family: CircularSTD;
    src: url(./src/Circular\ Std\ Book.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {

    background-color: #FFFAF4;

    font-family: 'DM Serif Display', serif;
    font-size: 1.6em;

}

h2 {
    color: #242331;
}

p {
    font-family: 'Quicksand', sans-serif;
    color: #697694;
}

a {
    text-decoration: none;
    color: #fff;
}

i {
    font-size: 2.4rem;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}






h1 {
    font-weight: bold;
    font-size: 4em;
}

/* MAIN NAVIGATION */
.header {


    z-index: 999;
}

.nav {
    margin-left: 5rem;
    padding-top: 4rem;
}

.logo-box {
    min-width: 10.8rem;
}

.menu {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background-color: black;
    border-radius: 0.8rem;
    z-index: 9999;
    padding: 5rem;
    transition: 0.5s ease;
}

.menu,
.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}


.nav-link {
    letter-spacing: 1px;
}

.menu-toggle-close {
    color: #fff;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.sm-screen-hidden {
    display: none;
}

.menu-toggle-icon {
    cursor: pointer;
}

.menu.menu-opened {
    top: 10rem;
}

.header::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 1500;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s;
}

.menu-opened.header::after {
    opacity: 1;
    transform: scale(1);
}

/* END MAIN NAVIGATION */
/* HERO SECTION */
.main-hero {
    position: relative;
    height: 40rem;
}

.main-hero-title {
    z-index: 2;
    margin-top: 15%;

}

.main-hero-title p {
    position: relative;
    font-family: 'DM Serif Display', serif;
    color: #242331;
    font-size: 4rem;
    font-weight: bold;
    max-width: 800px;
    margin: 30px auto;
}



.main-hero-title span {
    display: block;
}

/* HERO SECTION */
.main-hero-img {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: 50%;
}

.main-hero-img i {
    margin-bottom: 2em;
    margin-right: 5em;
    float: right;
}

/* END HERO SECTION */


/* Start projects section*/
.project-title {
    margin-left: 5em;
}

.project-p {
    font-size: 1.6em;
}

.box-gp {
    display: grid;
    flex-direction: column;
    justify-content: center;

}




.box .view-site {
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    display: block;
    padding: 1rem;
    background-color: grey;

    border-radius: 5px;
    margin-top: 2em;
    transition: all 0.5s ease;
}

.box img {
    width: 100%;
    border-radius: 5px;
}

.box {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    align-items: center;
    text-align: start;
    line-height: 4rem;

}

.text-box {
    transition: transform 750ms;
    will-change: transform;
}

.text-box>.view-site {
    text-align: center;
}

.text-box:hover {
    transform: translateY(-5%);
}

.box h2 {
    font-size: 3.2rem;
}

.view-site:hover {
    background-color: #007bff;
    color: #fff;
}



/* Skills sections */


.skills-title p {
    font-size: 1.6em;
}

.skills-list {
    text-align: center;
    margin: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.skills-list p {
    margin-top: 10px;
    max-width: 200px;
    font-size: 1.6rem;
}

.skills-title {

    margin-left: 5em;

}


/* footer */
.footer-text {
    text-align: center;
    margin-bottom: 5rem;
}



@media screen and (max-width:700px) {


    .text-box p {
        margin-top: 0.8rem;
        font-size: 1.2rem;
    }


    .box {
        line-height: 2rem;
        margin: 0;

    }

    .box h2 {
        font-size: 2.2rem;
    }

    .box .view-site {

        padding: 0.7em;
        border: 1px solid #fff;
        border-radius: 5px;
        margin-top: 2em;
        transition: all 0.5s ease;
    }

    .main-logo {
        margin-left: 0;
    }

    .main-logo a {
        margin-left: 1em;
        font-size: 1.2em;
    }

    .nav-menu {
        padding: 0;
        margin: 0;
    }

    .nav-manu-link {
        padding-top: 40px;
    }

    .nav-manu-link a {
        margin: 0.5em;
        font-size: 1.2em;
    }

    .main-hero {
        display: flex;
        flex-direction: column;
    }


    .main-hero-title p {
        margin: 30px;
        font-size: 1.6em;
    }


    .main-hero-img {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }

    .main-hero-img i {
        margin-right: 1em;
    }

    .main-title-about {
        margin-left: 5em;
    }

    .main-title-about .page-num {
        margin-top: 2em;
        display: inline-block;
        font-size: 2.2em;

    }

    .project-me p {
        margin: 0;
    }

    /* form #email{
        width:80%;
    }
    form #message{
        width:80%;
    } */
    .project-me p {
        margin-top: 2em;
        margin-left: 2.33em;
    }

    .box-gp {
        display: grid;
        flex-direction: column;
        align-items: center;
    }

    .box {
        margin: 0 0 2em 0;
    }


}

@media screen and (min-width:700px) {
    .main-hero-title {
        margin-top: 20em;
    }

    .menu {
        position: initial;
        transform: initial;
        width: initial;
        background-color: initial;
        padding: initial;
        border-radius: initial;
        transition: initial;
        margin-left: initial;
    }


    .lg-screen-hidden,
    .menu-toggle-icon {
        display: none;
    }

    .sm-screen-hidden {
        display: block;
    }


    .nav-list {
        display: flex;
        flex-direction: row;
    }


    .nav-link {
        font-weight: bold;
        padding: .8rem 2.4rem;
    }

    .nav-list a {
        color: #242331;

    }

    .box {
        margin: 6em;
    }

}

@media screen and (max-width:991px) {

    .box-gp {
        display: flex;
    }

    .box {
        margin: 2rem 4rem;
    }

    .project-title {
        margin: 0;
    }

    .skills-title {
        margin: 0;
    }

    .skills-list {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .skills-list p {
        max-width: none;
    }

    .skill {
        margin-top: 2em;
    }
}


@media screen and (max-width:400px) {


    .project-title {
        text-align: center;
        margin-top: 5em;
    }

    .project-title p {
        font-size: 1em;
    }

    .project-title h1 {
        font-size: 2.2em;
    }

    .skills-title {
        text-align: center;
    }

    .skills-title p {
        font-size: 1em;

    }

    .skills-title h1 {
        font-size: 2.2em;
    }


    .box {
        line-height: .2rem;
    }

    .text-box {
        line-height: 2rem;
    }

    .main-logo {
        margin-left: 0;
    }

    .main-logo a {
        margin-left: 1em;
        font-size: 1em;
    }

    .nav-menu {
        padding: 0;
        margin: 0;
    }

    .nav-manu-link {
        padding-top: 40px;
    }

    .nav-manu-link a {
        margin: 0.5em;
        font-size: 0.8em;
    }

    .main-hero {
        display: flex;
        flex-direction: column;
    }


    .main-hero-title p {

        text-align: center;

    }

    .main-hero-img {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }

    .main-hero-img i {
        margin-right: 1em;
    }

    .main-title-about {

        margin-left: 4em;
    }



    .main-title-about #page-num {
        margin-top: 2em;
        display: inline-block;
        font-size: 2.2em;

    }

    .project-me {
        margin: 0;
    }

    form #email {
        width: 80%;
    }

    form #message {
        width: 80%;
    }

    .project-me p {
        margin-top: 2em;

    }

    .box-gp {
        display: grid;
        grid-template-columns: 1fr;
    }


    .main-hero {

        display: flex;
        align-items: center;
        justify-content: center;
    }




    .box-gp {
        display: flex;
        flex-direction: column;

    }

    .box .view-site {
        display: block;
        border-radius: 4px;


    }




    .box p {
        font-size: 0.8em;
    }

    .box {

        display: flex;
        flex-direction: column;
        line-height: 1rem;
        text-align: center;
        margin-top: 1em;
    }

    .projects #page-num {
        text-align: center;
        margin: 0;
    }

    .project-me p {
        padding-top: 1em;
        text-align: center;
        margin: 0;
    }

    .main-hero p {
        text-align: center;
        padding-top: 1em;
        margin: 0;
    }

    .about-me #page-num {
        display: block;
        text-align: center;
        margin: 0;
        padding-top: 1em;
    }

    .projects h2 {
        text-align: center;
        margin: 0;
        padding-bottom: 1em;
    }

    .project-main-title h2 {
        text-align: center;
        margin: 0;
        padding-bottom: 1em;
    }
}


form {
    text-align: center;
    margin: 0 0 10rem 0;
}

form #email {
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #242331;
    width: 300px;
    height: 3em;
    margin-bottom: 2em;
    font-size: 2.2rem;
}

form #message {
    border-radius: 5px;
    width: 300px;
    margin-bottom: 2em;
    border: none;
    color: #fff;
    background-color: #242331;
    font-size: 2.2rem;

}

form button {
    font-family: 'Raleway', sans-serif;
    background-color: grey;
    color: #fff;
    border: none;
    padding: 1em 2em;
    border-radius: 10px;
    transition: all 0.5s ease;
    font-weight: bold;
}

form button:active {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}

form button:hover {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}

#email-label {
    font-weight: bold;
}

#message-label {
    font-weight: bold;
}